@using College_Information_and_Reporting_System.Enums
@using College_Information_and_Reporting_System.Models
@using College_Information_and_Reporting_System.Models.Domain
@using College_Information_and_Reporting_System.Models.ViewModels
@using System.Linq

@model List<Attendance>

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css" />

    <title>Attendance page</title>
</head>

<body>

    <!-- Web header -->
    <nav class="navbar">
        <h3 class="webTitle ms-4">School System</h3>
        <div class="w-100"></div>
        <div class="row">
            <button id="back" class=" btn btn-sm themeButtonInvert ms-4" onclick="window.location.href='/home'">
                <div class="row g-1 align-items-center">
                    <div class="col">
                        Back
                    </div>
                </div>
            </button>
        </div>
    </nav>

    @{
        var firstRecord = Model.FirstOrDefault();
    }
    @if (firstRecord != null)
    {
        <h2 class="text-center">@firstRecord.student.studentFirstName @firstRecord.student.studentLastName records</h2>
    }
    else
    {
        <h2>No records available</h2>
    }

    @{
    var presentCount = Model.Count(r => r.attendanceStatus == AttendanceStatus.Present);
    var absentCount  = Model.Count(r => r.attendanceStatus == AttendanceStatus.Absent);
    var lateCount    = Model.Count(r => r.attendanceStatus == AttendanceStatus.Late);
    }

     <div class="container card col-lg-6 col-sm-12 shadow-sm mt-3 mb-3 p-2">

    <div class="m-2 text-center">
    <span class="badge bg-success">Present: @presentCount</span>
    <span class="badge bg-danger">Absent: @absentCount</span>
    <span class="badge bg-warning text-dark">Late: @lateCount</span>
    </div>


    @foreach (var record in Model)
    {
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item flex-fill">@record.attendanceStatus</li>
          <li class="list-group-item flex-fill">@record.attendanceTime.ToString("yyyy-MM-dd HH:mm")</li>
          <li class="list-group-item flex-fill">@record.course.courseName</li>
        </ul>
     } 

     </div>
</body>

</html>